# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
# Delete rows with NaN
df.dropna(how = 'any', inplace = True)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [5]:
# Convert the date column format from string to datetime
dates = df['date']
dt_dates = [dt.datetime.strptime(date,'%Y-%m-%d') for date in dates]
df['date'] = dt_dates
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [6]:
# Set the date column as the DataFrame index
df.set_index('date', drop = True, inplace = True)

In [7]:
# Drop the date column
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70

### Compare June and December data across all years

In [8]:
from scipy import stats

In [9]:
# Filter data for desired months
june_filt = df.index.array.month ==6
june_df = df.loc[june_filt,:]

dec_filt = df.index.array.month ==12
dec_df = df.loc[dec_filt,:]

In [10]:
# Create collections of temperature data
june_data = june_df['tobs']
dec_data = dec_df['tobs']
june_avg = round(june_data.mean(),1)
dec_avg = round(dec_data.mean(),1)
print(f'The average temperatures are: {june_avg} for June and: {dec_avg} for December')

The average temperatures are: 74.9 for June and: 70.9 for December

In [11]:
stats.ttest_ind(june_data,dec_data, equal_var = False)

Ttest_indResult(statistic=30.624201480767336, pvalue=6.622829250184814e-178)

### Analysis

The paried student t has a p value << 0, indicating the means of the June and December data sets are statistically different.
A paired t-test is designed to compare the means of the same group or item under two separate scenarios
Paired t-tests are considered more powerful than unpaired t-tests because using the same participants or item eliminates variation between the samples that could be caused by anything other than whatâ€™s being tested.
I chose paired t-test since we are using the same weather stations, same instruments, etc. with the only differences between the data sets being the time of year.